
@{
    ViewBag.Title = "ThanhCong";
    Layout = "~/Views/Shared/_LayoutSite.cshtml";
}

<section class="clearfix">
    <div class="container my-3 text-center">
        <img src="~/Public/images/logo.png" style="width:120px" />
        <div class="form-group-lg">
            <h3 class="text-primary"><strong>ĐẶT HÀNG THÀNH CÔNG!</strong></h3>
            <p>Cảm ơn bạn đã tin tưởng và ủng hộ <strong>Sơn nội thất</strong>.<br/>
            Chúng tôi sẽ liên hệ với bạn trong vòng <strong>15 phút</strong> và cam kết giao hàng trong vòng <strong>7 ngày</strong>.</p>
            <div class="form-group py-2 ">
                <a href="@Url.Action("Index", "Site")" class="btn btn-info">Về trang chủ</a>
            </div>
        </div>
        <div class="col-4">

        </div>

    </div>
</section>

