@model MyClass.Models.User

@{
    ViewBag.Title = "Tài khoản";
    Layout = "~/Views/Shared/_LayoutSite.cshtml";
}



    <section class="container my-2">
        <h4 class="text-center"><span class="text-danger">@Model.FullName</span></h4>
    </section>
}

